td {
  font-size: 45px;
  border: 1px solid black;
  padding: 20px;
  transition: all ease .3s;
  text-align: center;
  user-select: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td:hover {
  background-color: yellow;
  cursor: pointer;
}

div {
  display: inline-block;
}

#output {
  height: 100px
}

#output:hover {
  background-color: white;
}
